/**
 * Use this file to add styles of basic HTML elements.
 */

@layer base {
  h1 {
    @apply title-xl font-bold;
  }
  h2 {
    @apply title-lg font-bold;
  }
  h3 {
    @apply title-md font-bold;
  }
  h4 {
    @apply title-sm font-bold;
  }
  h5 {
    @apply title-xs font-bold;
  }
  h6 {
    @apply title-2xs font-bold;
  }
}
