<div class="card bg-base-100 w-96 shadow-sm">
  <div class="card-body">
	<h2 class="card-title">{{ title }}</h2>
	 {% if description %}
			<p>{{ description }}</p>
	{% endif %}
  </div>
  <figure>
	<img
	  src="{{ image }}" />
  </figure>
</div>
