<div id="slide-{{- contentid -}}" class="carousel-item relative w-full justify-center">
  {{ image }}
    <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
      <a href="#slide-{{ contentid -1 }}" class="btn btn-circle">❮</a>
      <a href="#slide-{{ contentid + 1 }}" class="btn btn-circle">❯</a>
    </div>
</div>
